/*_______________________________________________________________________________________________________________________________________*/
@media (max-width:500px) {
  html{font-size:10px;}
  header{ 
    display:flex;
    justify-content:space-around;
    margin:2.1rem 0 0 0;}
  header a{
    font-family:'Karla', sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:1;
    text-align:right;
    text-decoration:none;
    color:#000; 
    display:flex;
    flex-direction:column;}
  header a:hover{text-decoration:underline; text-decoration-style:wavy;}
  .marchio{ 
    max-width:7.6rem;
    max-height:5.3rem;}
  /*_______________________________________________________________________________________________________________________________________*/
  nav ul{
    display:grid;
    gap:0.8rem;
    max-height:8.8rem;                                        
    max-width:34.0rem;
    border-right:0.8rem solid #000;}
  li{margin:0 0.8rem 0 0;}
  /*_______________________________________________________________________________________________________________________________________*/
.briciole{
  background-color:#d1d1d1;
  color:#646464;
  margin:0;
  padding:0;
  display:flex; 
  align-items:center; 
  justify-content:start;
  font-family:'Karla', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-bottom:0 0 3.4rem 0;}
.pane{background-color:#b8e69e;; color:#646464; text-decoration:none; margin:0; padding:0;}
span{border-bottom:0.3rem solid #646464; margin-bottom:0.2rem;}
/*--------------------------------------------------------------- M A I N ---------------------------------------------------------------*/  
main{max-width:26rem;}
.illustrazione{display:flex; justify-content:end; margin:0 6.05rem 0 0;}
img.profilo{max-width:20.5rem; border:0.5rem solid #000;}
}