/*_______________________________________________________________________________________________________________________________________*/
@media (max-width:39.3rem) {
  html{font-size:10px;}
  header{
    background-color:#f1f1f0;
    max-height:10.7rem;
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
    margin:0;
    padding:0;}
  .tradem{max-width:7.6rem;}  
  nav{
    background-color:#f1f1f0;
    align-items:center;
    margin:2.1rem 2.7rem 0 2.7rem;
    padding:0 0 1.3rem 0;}
  ul{display:flex; gap: 1.3rem; flex-direction:column; align-items:end;}  
  ul li{
    max-height:7.3rem;
    font-family:'Karla', sans-serif;
    font-size:1.6rem;
    font-weight:700;
    line-height:1;
    list-style:none;
    margin:0 0.8rem 0 0;
    padding:0;}
  ul>li>a{text-decoration:none; margin:0; color:#000; padding:0;} 
  ul{border-right:0.5rem solid #000; margin:0; padding:0;} 
  /*_______________________________________________________________________________________________________________________________________*/
.briciole{
  background-color:#d1d1d1;
  color:#646464;
  margin:0;
  padding:0;
  display:flex; 
  align-items:center; 
  justify-content:start;
  font-family:'Karla', sans-serif;
  font-size:24px;
  font-weight:700;
  margin-bottom:0 0 3.4rem 0;}
.pane{background-color:#b8e69e;; color:#646464; text-decoration:none; margin:0; padding:0;}
span{border-bottom:0.3rem solid #646464; margin-bottom:0.2rem;}
/*--------------------------------------------------------------- M A I N ---------------------------------------------------------------*/  
main{max-width:26rem;}
.illustrazione{display:flex; justify-content:end; margin:0 6.05rem 0 0;}
img.profilo{max-width:20.5rem; border:0.5rem solid #000;}
}