body{
  margin:0 0;
  background-color:#e9e9e5; 
  font-family: 'Karla', sans-serif;
  font-family: 'Newsreader', serif;
  scroll-behavior:smooth;}
img{max-width:100%; display:block;}
/*------------------------------------------------------------ N A V  B A R -------------------------------------------------------------*/
header{
  background-color:#e9e9e5;
  max-height:9.8rem;
  position:-webkit-sticky; 
  position:sticky; 
  z-index:3;
  top:0;
  margin:0;
  padding:3.44rem 0 0.82rem 0}
nav{
  display:flex; 
  flex-wrap:wrap;  
  align-items: end;
  justify-content:space-between;
  margin:0 8.94rem 0 8.94rem;}  
ul li.su{
  display:inline-flex;
  font-family:'Karla', sans-serif;
  font-size:24px;
  font-weight:700;
  line-height:1;
  margin:0 3.44rem 0 0;
  list-style:none;}
ul>li.su>a{text-decoration:none; margin:0; color:#000;} 
ul.navbar{border-right:0.5rem solid #000;} 
.tradem{max-width:6.13rem;}
/*--------------------------------------------------------------- M A I N ---------------------------------------------------------------*/  
main{
background-color:rgb(222, 217, 222);
max-width:78.13rem; /*1250px*/
margin:0 auto;}
.briciole{
  display:flex; 
  justify-content:start; 
  align-items:center; 
  margin:0.82rem 0 0 0;
  gap:0.5rem;
  padding:0;}  
.mollichine{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  list-style:none; 
  color:#4d4d4d;
  margin:0;}
.pane{color:#4d4d4d; text-decoration:none;}
.panebis{color:#a3a3a3;}  
/*----------------------------------------------------------M A I N ---------------------------------------------------------------------*/
.divider{
  position:absolute; 
  z-index:1;
  left:530px;
  display:flex;
  flex-direction:row;
  flex-flow:row;
  align-items:baseline;
  margin:68px 0 0 0;}
.divider > label{
  font-family:'Karla', sans-serif;
  font-size:2.44rem;
  font-weight:700;
  align-self:baseline;
  margin:0;}
.divider > hr{
  border:0;
  border-top:3.5px dotted #000;
  width:25rem;
  margin:0 0.82rem 0 0;}
.divider .right > label{
  padding-left:5px; margin:0;}


.b{
  position:absolute; 
  z-index:2;
  left:640px;
  display:flex;
  flex-direction:row;
  flex-flow:row;
  align-items:baseline;
  margin:165px 0 0 0;}
.b > label{
  font-family:'Karla', sans-serif;
  font-size:2.44rem;
  font-weight:700;
  align-self:baseline;
  margin:0;}
.b > hr{
  border:0;
  border-top:3.5px dotted #000000;
  width:19.5rem;
  margin:0 0.82rem 0 0;}
.b .c > label{
  padding-left:5px; margin:0;}

.d{
  position:absolute; 
  z-index:2;
  left:700px;
  display:flex;
  flex-direction:row;
  flex-flow:row;
  align-items:baseline;
  margin:197px 0 0 0;}
.d > label{
  font-family:'Karla', sans-serif;
  font-size:2.44rem;
  font-weight:700;
  align-self:baseline;
  margin:0;}
.d > hr{
  border:0;
  border-top:3.5px dotted #000;
  width:255px;
  margin:0 0.82rem 0 0;}
.d .e > label{
  padding-left:5px; margin:0;}
  

.anatomia{
  display:flex; 
  justify-content:start; 
  align-items:start;}
.prova{
  max-width:50%; 
  margin:1.57rem 1.32rem 1.57rem 0;}
.foglia{
  font-family:'Karla', sans-serif; 
  font-size:2.44rem; 
  line-height:90%; 
  font-weight:700; 
  margin:1.57rem 0 0 0;}
/*------------------------------------------ T I T O L O -----------------------------------------------------------------------------*/
h1{
  font-family:'Newsreader', serif;
  font-size:4rem;
  line-height:90%;
  font-weight:400;
  margin:0;}
h2{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  line-height:90%;
  font-weight:700;
  margin:14.57rem 0 9rem 0;}
/*------------------------------------------ C O N T E N U T O -----------------------------------------------------------------------------*/
.lamineuno{
  max-width:1000px;
  background-color: #c5b6b6;
  display:grid;
  align-content:center;
  justify-content:center;
  grid-template-columns:repeat(6, 1fr);
  margin:auto;
  padding:98px 0 0 0;
  gap:21px;}
.formalaminauno{
  background-color: #fff;
  max-width:100%; 
display:flex;
justify-content: center;}

.laminedue{
  max-width:900px;
  background-color: #c5b6b6;
  display:grid;
  justify-content:center;
  align-content:center;
  grid-template-columns:repeat(4, 1fr);
  margin:auto;
  padding:98px 0 0 0;}
.formalaminadue{
  max-width:75%; 
  margin:auto;}    

/*--------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/    
.down{background-color:#e9e9e5;}
ul.footer{
  display:flex;
  justify-content:start;
  align-items:start;
  list-style:none;
  text-decoration:none; 
  font-family:'Karla', sans-serif; 
  font-size:1.5rem; 
  line-height:90%;
  font-weight:700;
  padding:1.32rem 0 2.13rem 2.13rem;
  margin:14.57rem 0 0 0;
  border-top:0.32rem solid #000;}
.piede{
  text-decoration:none;
  color:#000;
  padding:0 2.13rem 0 0;} 
/*_______________________________________________________________________________________________________________________________________*/
@media (max-width:39.3rem) {
html{font-size:10px;}
header{
  background-color:#e9e9e5;
  max-height:10.7rem;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  margin:0;
  padding:0;}
.tradem{max-width:7.6rem;}  
nav{
  background-color:#e9e9e5;
  align-items:center;
  margin:2.1rem 2.7rem 0 2.7rem;
  padding:0 0 1.3rem 0;}
ul.navbar{display:flex; gap: 1.3rem; flex-direction:column; align-items:end;}  
ul li.su{
  max-height:7.3rem;
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  font-weight:700;
  line-height:1;
  list-style:none;
  margin:0 0.8rem 0 0;
  padding:0;}
ul>li.su>a{text-decoration:none; margin:0; color:#000; padding:0;} 
ul.navbar{border-right:0.5rem solid #000; margin:0; padding:0;}
/*_______________________________________________________________________________________________________________________________________*/
.briciole{
  display:flex; 
  justify-content:start; 
  align-items:center; 
  margin:1.3rem 0 0 2.5rem;
  gap:0.5rem;
  padding:0;}  
.mollichine{
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  font-weight:700;
  list-style:none; 
  color:#4d4d4d;
  margin:0;}
.pane{color:#4d4d4d; text-decoration:none;}
.panebis{color:#a3a3a3;}
/*_______________________________________________________________________________________________________________________________________*/
.down{background-color:#e9e9e5;}
ul.footer{
  display:flex; 
  justify-content:start; 
  align-items:center;
  text-decoration:none; 
  font-family:'Karla', sans-serif; 
  font-size:1.6rem; 
  line-height:90%;
  font-weight:700;
  padding:2.1rem 0 3.4rem 2.1rem;
  margin:9.8rem 0 0 0;
  border-top:0.5rem solid #000;
  list-style:none;}
.piede{text-decoration:none;
      color:#000;
      padding:0 3.4rem 0 0;}}