body{
  ::selection {background-color: #aceca8;}
  margin:0 0;
  background-color:#e9e9e5; 
  font-family: 'Karla', sans-serif;
  font-family: 'Newsreader', serif;
  scroll-behavior:smooth;}
img{max-width:100%; display:block;}
/*------------------------------------------------------------ N A V  B A R -------------------------------------------------------------*/
header{
  background-color:#e9e9e5;
  max-height:9.8rem;
  position:-webkit-sticky; 
  position:sticky; 
  z-index:3;
  top:0;
  margin:0;
  padding:3.44rem 0 0.82rem 0}
nav{
  display:flex; 
  flex-wrap:wrap;  
  align-items: end;
  justify-content:space-between;
  margin:0 8.94rem 0 8.94rem;}  
ul li.su{
  display:inline-flex;
  font-family:'Karla', sans-serif;
  font-size:24px;
  font-weight:700;
  line-height:1;
  margin:0 3.44rem 0 0;
  list-style:none;}
ul>li.su>a{text-decoration:none; margin:0; color:#000;} 
ul.navbar{border-right:0.5rem solid #000;} 
.tradem{max-width:6.13rem;}
/*--------------------------------------------------------------- M A I N ---------------------------------------------------------------*/  
main{
max-width:78.13rem; /*1250px*/
margin:0 auto;}
.briciole{
  display:flex; 
  justify-content:start; 
  align-items:center; 
  margin:0.82rem 0 0 0;
  gap:0.5rem;
  padding:0;}  
.mollichine{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  list-style:none; 
  color:#4d4d4d;
  margin:0;}
.pane{color:#4d4d4d; text-decoration:none;}
.panebis{color:#a3a3a3;}  
/*----------------------------------------------------------M A I N ---------------------------------------------------------------------*/
.divider{
  position:absolute; 
  z-index:1;
  left:19.94rem;
  display:flex;
  flex-direction:row;
  flex-flow:row;
  align-items:baseline;
  margin:5.75rem 0 0 0;}
.divider > label{
  font-family:'Karla', sans-serif;
  font-size:2.44rem;
  font-weight:700;
  align-self:baseline;
  margin:0;}
.divider > hr{
  border:0;
  border-top:3.5px dotted #fc5b5b;
  width:30rem;
  margin:0 0.82rem 0 0;}
.divider .right > label{
  padding-left:0.32rem; margin:0;}


.b{
  position:absolute; 
  z-index:2;
  left:36.88rem;
  display:flex;
  flex-direction:row;
  flex-flow:row;
  align-items:baseline;
  margin:14.69rem 0 0 0;}
.b > label{
  font-family:'Karla', sans-serif;
  font-size:2.44rem;
  font-weight:700;
  align-self:baseline;
  margin:0;}
.b > hr{
  border:0;
  border-top:3.5px dotted #ff5b5b;
  width:20rem;
  margin:0 0.82rem 0 0;}
.b .c > label{
  padding-left:0.32rem; margin:0;}

.d{
  position:absolute; 
  z-index:2;
  left:44.5rem;
  display:flex;
  flex-direction:row;
  flex-flow:row;
  align-items:baseline;
  margin:16.63rem 0 0 0;}
.d > label{
  font-family:'Karla', sans-serif;
  font-size:2.44rem;
  font-weight:700;
  align-self:baseline;
  margin:0;}
.d > hr{
  border:0;
  border-top:3.5px dotted #ff5b5b;
  width:15rem;
  margin:0 0.82rem 0 0;}
.d .e > label{
  padding-left:0.32rem; margin:0;}
  

.anatomia{
  display:flex; 
  flex-direction:column;
  justify-content:start; 
  align-items:start;}
.info{
  max-width:50%; 
  margin:0.32rem 0 1.57rem 0;}
.foglia{
  font-family:'Karla', sans-serif; 
  font-size:2.44rem; 
  line-height:90%; 
  font-weight:700; 
  margin:1.57rem 0 0 0;}
/*------------------------------------------ T I T O L O -----------------------------------------------------------------------------*/
h1{
  font-family:'Newsreader', serif;
  font-size:4rem;
  line-height:90%;
  font-weight:400;
  margin:0;}
h2{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  line-height:90%;
  font-weight:700;
  margin:14.57rem 0 9rem 0;}
/*------------------------------------------ C O N T E N U T O -----------------------------------------------------------------------------*/
.text{
  font-family:'Karla', sans-serif;
  font-size:0.94rem;
  max-width:700px;
  margin:0;}
.textura{
  font-family:'Karla', sans-serif;
  font-size:0.94rem;
  max-width:90rem;
  margin:0; 
  text-align:center;}

.elencouno{
  max-width:75rem;
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  gap:0;
  margin:0 auto;
  padding:0 0 3.44rem 0;}
.lamina{
  max-width:8.13rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.pic{max-width:150%;}  


.elencodue{
  max-width:50rem;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:0;
  margin:0 auto;
  padding:0 0 3.44rem 0;}
.laminadue{
  max-width:7.53rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.picdue{max-width:150%;}


.elencotre{
  max-width:50rem;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:0;
  margin:0 auto;
  padding:0 0 3.44rem 0;}
.laminatre{
  max-width:7.53rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.pictre{max-width:150%;}


.elencoquattro{
  max-width:50rem;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:0;
  margin:0 auto;
  padding:0 0 3.44rem 0;}
.laminaquattro{
  max-width:7.53rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.picquattro{max-width:150%;}


.elencocinq{
  max-width:25rem;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:0;
  margin:0 auto;
  padding:0 0 3.44rem 0;}
.laminacinq{
  max-width:7.53rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.piccinq{max-width:150%;}


.elencosei{
  max-width:25rem;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:0;
  margin:0 auto;
  padding:0;}
.laminasei{
  max-width:7.53rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.picsei{max-width:150%;}

/*-----------------------*/
.gruppo{
  max-width:55rem;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:0;
  margin:0 auto;
  padding:0;}
.pari{
  max-width:8.7rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.picpari{max-width:140%; margin:0;}  

/*-----------------------*/
.gruppodue{
  max-width:70rem;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:0;
  margin:0 auto;
  padding:0 0 9rem 0;}
.marginedue{
  max-width:8.7rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
/*--------------------------*/
.gruppotre{
  max-width:70rem;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:0;
  margin:0 auto;
  padding:0 0 9rem 0;}
.margine{
  max-width:8.7rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.picmargine{max-width:140%; margin:0;}
/*--------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/    
.down{background-color:#e9e9e5;}
ul.footer{
  display:flex;
  justify-content:start;
  align-items:start;
  list-style:none;
  text-decoration:none; 
  font-family:'Karla', sans-serif; 
  font-size:1.5rem; 
  line-height:90%;
  font-weight:700;
  padding:1.32rem 0 2.13rem 2.13rem;
  margin:14.57rem 0 0 0;
  border-top:0.32rem solid #000;}
.piede{
  text-decoration:none;
  color:#000;
  padding:0 2.13rem 0 0;} 
/*_______________________________________________________________________________________________________________________________________*/
@media (max-width:39.3rem) {
html{font-size:10px;}
header{
  background-color:#e9e9e5;
  max-height:10.7rem;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  margin:0;
  padding:0;}
.tradem{max-width:7.6rem;}  
nav{
  background-color:#e9e9e5;
  align-items:center;
  margin:2.1rem 2.7rem 0 2.7rem;
  padding:0 0 1.3rem 0;}
ul.navbar{display:flex; gap: 1.3rem; flex-direction:column; align-items:end;}  
ul li.su{
  max-height:7.3rem;
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  font-weight:700;
  line-height:1;
  list-style:none;
  margin:0 0.8rem 0 0;
  padding:0;}
ul>li.su>a{text-decoration:none; margin:0; color:#000; padding:0;} 
ul.navbar{border-right:0.5rem solid #000; margin:0; padding:0;}
/*_______________________________________________________________________________________________________________________________________*/
.briciole{
  display:flex; 
  justify-content:start; 
  align-items:center; 
  margin:5.5rem 0 3.4rem 2.5rem;
  gap:0.5rem;
  padding:0;}  
.mollichine{
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  font-weight:700;
  list-style:none; 
  color:#4d4d4d;
  margin:0;}
.pane{color:#4d4d4d; text-decoration:none;}
.panebis{color:#a3a3a3;}
/*_______________________________________________________________________________________________________________________________________*/
.divider{
  position:absolute; 
  z-index:1;
  left:22.20rem;
  display:flex;
  flex-direction:row;
  flex-flow:row;
  align-items:baseline;
  margin:7.3rem 0 0 0;}
.divider > label{
  font-family:'Karla', sans-serif;
  font-size:2.6rem;
  font-weight:700;
  align-self:baseline;
  margin:0;}
.divider > hr{
  border:0;
  border-top:0.20rem dotted #000;
  width:7.8rem;
  margin:0 0.82rem 0 0;}
.divider .right > label{
  padding-left:5px; margin:0;}

.b{
  position:absolute; 
  z-index:2;
  left:20.30rem;
  display:flex;
  flex-direction:row;
  flex-flow:row;
  align-items:baseline;
  margin:18rem 0 0 0;}
.b > label{
  font-family:'Karla', sans-serif;
  font-size:2.6rem;
  font-weight:700;
  align-self:baseline;
  margin:0;}
.b > hr{
  border:0;
  border-top:0.20rem dotted #000000;
  width:9.8rem;
  margin:0 0.82rem 0 0;}
.b .c > label{
  padding-left:5px; margin:0;}

.d{
  position:absolute; 
  z-index:2;
  left:18.20rem;
  display:flex;
  flex-direction:row;
  flex-flow:row;
  align-items:baseline;
  margin:22.4rem 0 0 0;}
.d > label{
  font-family:'Karla', sans-serif;
  font-size:2.6rem;
  font-weight:700;
  align-self:baseline;
  margin:0;}
.d > hr{
  border:0;
  border-top:0.20rem dotted #000;
  width:11.8rem;
  margin:0 0.82rem 0 0;}
.d .e > label{
  padding-left:5px; margin:0;}


.anatomia{
  display:flex; 
  justify-content:start;
  align-items:start;
  margin:0;
  max-width:23.3rem;}
.foglia{
  font-family:'Karla', sans-serif; 
  font-size:1.6rem; 
  line-height:90%; 
  font-weight:700; 
  margin:0 0 5.5rem 2.4rem;
  padding:0;}  
.info{
  transform:rotate(0.25turn);
  max-width:23.3rem; 
  margin:0;}

.abc{
  max-width:14.4rem;
  display:flex;
  flex-direction:column;
  margin:auto;
  padding:0;} 
span{
  font-family:'Karla', serif;
  font-size:2.6rem;
  font-weight: 700;
  line-height:90%;
  margin:0;}
.letterina{
  font-family:'Newsreader', serif;
  font-size:1.6rem;
  font-weight:400;
  border-bottom:0.3rem solid #000;
  line-height:90%;
  margin:0;}

h1{
  max-width:30.4rem;
  font-family:'Newsreader', serif;
  font-size:4.3rem;
  line-height:90%;
  font-weight:400;
  margin:9.8rem 0 5.5rem 2.4rem;}  

h2{
  max-width:29.0rem;
  font-family:'Karla', sans-serif;
  font-size:26px;
  line-height:90%;
  font-weight:700;
  margin:auto;
  padding:9.8rem 0 5.5rem 0;}  
/*_______________________________________________________________________________________________________________________________________*/
.text{
  max-width:100rem;
  font-size:1.6rem;}
.textura{
  max-width:150rem;
  font-size:1.6rem;}  

.elencouno{
  display:flex;
  justify-content: center;
  max-width:34rem;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  margin:0 auto;
  gap:3.44rem;}
.lamina{
  max-width:30rem;
  flex-direction:column;
  margin:0 auto;}
.pic{max-width:15rem;}

.elencodue{
  display:flex;
  justify-content: center;
  max-width:34rem;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  margin:0 auto;
  gap:3.44rem;}
.laminadue{
  max-width:30rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.picdue{max-width:15rem;}

.elencotre{
  display:flex;
  justify-content: center;
  max-width:34rem;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  margin:0 auto;
  gap:3.44rem;}
.laminatre{
  max-width:30rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.pictre{max-width:15rem;}  


.elencoquattro{
  display:flex;
  justify-content: center;
  max-width:34rem;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  margin:0 auto;
  gap:3.44rem;}
  max-width:30rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.picquattro{max-width:15rem;}


.elencocinq{
  display:flex;
  justify-content: center;
  max-width:34rem;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  margin:0 auto;
  gap:3.44rem;}
.elencocinqno{
  display:flex;
  justify-content: center;
  max-width:34rem;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  margin:0 auto;
  padding:0;
  gap:3.44rem;}
.laminacinq{
  max-width:30rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.piccinq{max-width:15rem; padding:0;} 
.pic_digitatanopad, .pic_pedatanopad{
  max-width:15rem;}
/*------- digitata e pedata senza padd --------*/  
/*-----------------------*/
.gruppo{
  max-width:34rem;
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  margin:0 auto;
  padding:0;
  gap:3.44rem;}
.pari{
  max-width:30rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.picpari{max-width:15rem;}

/*-----------------------*/
.gruppodue{
  max-width:34rem;
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  margin:0 auto;
  padding:0 0 9rem 0;
  gap:3.44rem;}
.marginedue{
  max-width:30rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
.picmargine{max-width:15rem;} /*valida anche per il gruppotre sotto, che non ripete la voce*/
/*--------------------------*/
.gruppotre{
  max-width:34rem;
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  margin:0 auto;
  padding:0;
  gap:3.44rem;}
.margine{
  max-width:30rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;}
/*_______________________________________________________________________________________________________________________________________*/
.down{background-color:#e9e9e5;}
ul.footer{
  display:flex; 
  justify-content:start; 
  align-items:center;
  text-decoration:none; 
  font-family:'Karla', sans-serif; 
  font-size:1.6rem; 
  line-height:90%;
  font-weight:700;
  padding:2.1rem 0 3.4rem 2.1rem;
  margin:23.3rem 0 0 0;
  border-top:0.5rem solid #000;
  list-style:none;}
.piede{text-decoration:none;
   color:#000;
   padding:0 3.4rem 0 0;}