body{
  margin:0 0;
  background-color:#E6F5C6; 
  font-family: 'Karla', sans-serif;
  font-family: 'Newsreader', serif;
  scroll-behavior:smooth;}
  ::selection {background-color:#FF4613;}
img{max-width:100%; display:block;}
/*------------------------------------------------------------ N A V  B A R -------------------------------------------------------------*/
header{
  background-color: #E6F5C6;
  max-height:9.8rem;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  margin:0;
  padding:1.32rem 0 0.82rem 0}
nav{
  display:flex; 
  flex-wrap:wrap;  
  align-items: end;
  justify-content:space-between;
  margin:0 8.94rem 0 8.94rem;}  
ul li.su{
  background-color: #E6F5C6;
  display:inline-flex;
  font-family:'Karla', sans-serif;
  font-size:0.94rem;
  font-weight:700;
  line-height:1;
  margin:0 3.44rem 0 0;
  list-style:none;}
ul>li.su>a{text-decoration:none; margin:0; color:#8A2BE2;} 
ul>li.su>a:hover{color:#FF4613;}
ul.navbar{border-right:0.5rem solid #8A2BE2;} 
.tradem{max-width:5rem;}
/*--------------------------------------------------------------- M A I N ---------------------------------------------------------------*/  
main{
  max-width:78.13rem; /*1250px*/
  margin:0 auto;}
h2{
  text-align:center;
  max-width:28rem;
  background-color:#FF4613;
  color:#E6F5C6;
  font-family:'Newsreader', serif;
  font-size:2.44rem;
  line-height:90%;
  font-weight:400;
  margin:9rem 0 14.57rem 0;
  padding:0.63rem;}  
.elenco{margin:14.57rem 0 0 0;}  
h3{
  max-width:23.57rem; 
  border-bottom:0.32rem solid #8A2BE2;
  padding:0 0 0.94rem 0;
  margin:0 0 3.44rem 0;}
.tipo{
  font-family:'Karla', sans-serif;
  font-size:2.44rem;
  line-height:90%;
  font-weight:700;
  color:#8A2BE2;
  text-decoration:none;}  
.tipo:hover{color:#E6F5C6; cursor:pointer;}  
h3:hover{background-color:#FF4613;}
/*--------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/    
.down{background-color:#E6F5C6;}
ul.footer{
  display:flex;
  justify-content:start;
  align-items:start;
  list-style:none;
  text-decoration:none; 
  font-family:'Karla', sans-serif; 
  font-size:1.5rem; 
  line-height:90%;
  font-weight:700;
  padding:1.32rem 0 2.13rem 2.13rem;
  margin:6.13rem 0 0 0;
  border-top:0.32rem solid #8A2BE2;}
.piede{
  text-decoration:none;
  color:#8A2BE2;
  padding:0 2.13rem 0 0;} 
.piede:hover{color:#FF4613;}  
/*_______________________________________________________________________________________________________________________________________*/
@media (max-width:39.3rem) {
  html{font-size:10px;}
  header{
    background-color:#E6F5C6;
    max-height:10.7rem;
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
    margin:0 0 5.5rem 0;
    padding:0;}
  .tradem{max-width:7.6rem;}  
  nav{
    background-color:#E6F5C6;
    align-items:center;
    margin:2.1rem 2.7rem 0 2.7rem;
    padding:0 0 1.3rem 0;}
  ul.navbar{display:flex; gap: 1.3rem; flex-direction:column; align-items:end;}  
  ul li.su{
    max-height:7.3rem;
    font-family:'Karla', sans-serif;
    font-size:1.6rem;
    font-weight:700;
    line-height:1;
    list-style:none;
    margin:0 0.8rem 0 0;
    padding:0;}
  ul>li.su>a{text-decoration:none; margin:0; color:#8A2BE2; padding:0;} 
  ul.navbar{border-right:0.5rem solid #8A2BE2; margin:0; padding:0;}
/*________________________________________________________________________________________________________________________________________*/
h2{
  max-width:29.8rem;
  background-color:#FF4613;
  font-family:'Newsreader', serif;
  font-size:2.6rem;
  line-height:90%;
  font-weight:400;
  margin:0 auto;
  padding:1rem 0 1rem 0;}  
.elenco{margin:14.4rem 0 9.8rem 2.6rem;}  
h3{
  max-width:25.0rem; 
  border-bottom:0.32rem solid #8A2BE2;
  padding:1rem 0 1rem 0;
  margin:5.5rem 0 5.5rem 0;}
h3:hover{background-color:#FF4613; cursor:pointer;}
.tipo{
  font-family:'Karla', sans-serif;
  font-size:2.6rem;
  line-height:90%;
  font-weight:700;
  color:#8A2BE2;
  text-decoration:none;}  
.h3:hover{background-color:#f2545c;}
/*_______________________________________________________________________________________________________________________________________*/
.down{background-color:#E6F5C6;}
ul.footer{
  display:flex; 
  justify-content:start; 
  align-items:center;
  text-decoration:none; 
  font-family:'Karla', sans-serif; 
  font-size:1.6rem; 
  line-height:90%;
  font-weight:700;
  padding:2.1rem 0 3.4rem 2.1rem;
  margin:23.3rem 0 0 0;
  border-top:0.5rem solid #8A2BE2;
  list-style:none;}
.piede{text-decoration:none;
      color:#8A2BE2;
      padding:0 3.4rem 0 0;}}