body{
  margin:0 0;
  background-color:#e9e9e5; 
  font-family: 'Karla', sans-serif;
  font-family: 'Newsreader', serif;
  scroll-behavior:smooth;}
img{max-width:100%; display:block;}
/*------------------------------------------------------------ N A V  B A R -------------------------------------------------------------*/
header{
  background-color:#e9e9e5;
  max-height:9.8rem;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  margin:0;
  padding:3.44rem 0 0.82rem 0}
nav{
  display:flex; 
  flex-wrap:wrap;  
  align-items: end;
  justify-content:space-between;
  margin:0 8.94rem 0 8.94rem;}  
ul li.su{
  display:inline-flex;
  font-family:'Karla', sans-serif;
  font-size:24px;
  font-weight:700;
  line-height:1;
  margin:0 3.44rem 0 0;
  list-style:none;}
ul>li.su>a{text-decoration:none; margin:0; color:#000;} 
ul.navbar{border-right:0.5rem solid #000;} 
.tradem{max-width:6.13rem;}
/*--------------------------------------------------------------- M A I N ---------------------------------------------------------------*/  
main{
  max-width:100%;
  margin:0 auto;}
.briciole{
  display:flex; 
  justify-content:start; 
  align-items:center; 
  margin:0.82rem 0 0 9rem;
  gap:0.5rem;
  padding:6.13rem 0 0 0;}  
.mollichine{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  list-style:none; 
  color:#4d4d4d;
  margin:0;}
.pane{color:#4d4d4d; text-decoration:none;}
.panebis{color:#a3a3a3;}  
/*--------------------------------------------------------- M A N O ---------------------------------------------------------------------*/    
.mano{display:flex; justify-content:end; align-items:end;}
.ditina{max-width:100%;}
/*--------------------------------------------------------- R E G O L E -----------------------------------------------------------------*/    
h1{
  font-family:'Newsreader', serif;
  font-size:4rem;
  line-height:90%;
  font-weight:400;
  margin:0 0 0 9rem;}
.primoduo{
  display:flex; 
  justify-content:center; 
  align-items:center;
  margin:0;}
.primeregole{
  max-width:36.94rem;
  margin:0;}  
.regolapadding{padding:14.57rem 0 0.82rem 0;}  
h4{
  font-family:'Newsreader', serif;
  font-size:1.5rem;
  line-height:1.2;
  font-weight:400;
  margin:0.75rem 0 0.75rem 0;} 
.spaccazza{display:flex; justify-content:center; margin:0;}
hr{
  width:61.69rem; 
  height:0.5rem; 
  background-color:#000; 
  border-style:none;
  margin:14.57rem 0 14.57rem 0;}  
.regole_bis{ 
  max-width:300px;
  display:flex; 
  align-items:start center; 
  justify-content:center; 
  flex-direction:column; 
  margin:auto;}
.secondoduo_a{margin:0 0 6.13rem 0;}
.resto_a{
  max-width:16rem;
  background-color:#fff;
  display:flex; 
  justify-content:center; 
  align-items:start; 
  flex-direction:column;}
.posti{margin:0.75rem 0.75rem 0 0.75rem;}
.conosci{margin:0 0.75rem 0.75rem 0.75rem;}
h3{
  font-family:'Karla', sans-serif; 
  font-size:2.44rem; 
  line-height:90%; 
  font-weight:400;
  margin:0;
  padding:0.63rem 0 0.63rem 0;}
p{background-color:#fff; margin:0; line-height:1.2;}
.resto_b{ 
  max-width:15rem;
  background-color:#fff;
  display:flex;
  justify-content:center;
  align-items:start;
  flex-direction:column;}
.lascia{margin:0.75rem 0 0 0.75rem; background-color:#fff;}
.consumi{margin:0 0.75rem 0 0.75rem; background-color:#fff;}
.numeroso{margin:0 0.75rem 0.75rem 0.75rem; background-color:#fff;}
/*--------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/    
.down{background-color:#e9e9e5;}
ul.footer{
  display:flex;
  justify-content:start;
  align-items:start;
  list-style:none;
  text-decoration:none; 
  font-family:'Karla', sans-serif; 
  font-size:1.5rem; 
  line-height:90%;
  font-weight:700;
  padding:1.32rem 0 2.13rem 2.13rem;
  margin:14.57rem 0 0 0;
  border-top:0.32rem solid #000;}
.piede{
  text-decoration:none;
  color:#000;
  padding:0 2.13rem 0 0;} 
/*_______________________________________________________________________________________________________________________________________*/
@media (max-width:39.3rem) {
html{font-size:10px;}
header{
  background-color:#e9e9e5;
  max-height:10.7rem;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  margin:0;
  padding:0;}
.tradem{max-width:7.6rem;}  
nav{
  background-color:#e9e9e5;
  align-items:center;
  margin:2.1rem 2.7rem 0 2.7rem;
  padding:0 0 1.3rem 0;}
ul.navbar{display:flex; gap: 1.3rem; flex-direction:column; align-items:end;}  
ul li.su{
  max-height:7.3rem;
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  font-weight:700;
  line-height:1;
  list-style:none;
  margin:0 0.8rem 0 0;
  padding:0;}
ul>li.su>a{text-decoration:none; margin:0; color:#000; padding:0;} 
ul.navbar{border-right:0.5rem solid #000; margin:0; padding:0;} 
/*_______________________________________________________________________________________________________________________________________*/
.briciole{
  display:flex; 
  justify-content:start; 
  align-items:center; 
  margin:5.5rem 0 5.5rem 2.5rem;
  gap:0.5rem;
  padding:0;}  
.mollichine{
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  font-weight:700;
  list-style:none; 
  color:#4d4d4d;
  margin:0;}
.pane{color:#4d4d4d; text-decoration:none;}
.panebis{color:#a3a3a3;}

.ditina{ 
  position:relative;
  z-index:-1;
  transform:rotate(90deg);
  transform:scaleX(-1);
  rotate:-24deg;
  max-width:130%; 
  margin:0 2.9rem 0 0;
  padding:0;}
h1{
  max-width:32rem;
  font-family:'Newsreader', serif;
  font-size:4.2rem;
  line-height:90%;
  font-weight:400;
  margin:5.5rem 0 5.5rem 2.4rem;}  
.primeregole{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  max-width:25.8rem;
  margin:0;
  padding:0;
  font-style:'Newsreader', serif;
  font-size:1.6rem;
  line-height:1.2rem;
  font-weight:400;}  
.regolapadding{
  margin:1.2rem 0 1.2rem 0;
  padding:0;}  
.regoladue{
  margin:0;
  padding:0;}
h4{margin:1.2rem 0 1.2rem 0;}
.lineetta{margin:5.5rem 0 14.4rem 0; max-width:24.5rem;}  
.regole_bis{
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:start;
  max-width:27rem;
  margin:0 auto;}
h3{
  font-family:'Karla', sans-serif;
  font-size:2.6rem;
  line-height:90%;
  font-weight:700;}  
.resto_a{
  max-width:18rem;}  
.resto_b{
  max-width:35rem;}  
/*_______________________________________________________________________________________________________________________________________*/
.down{background-color:#e9e9e5;}
ul.footer{
  display:flex; 
  justify-content:start; 
  align-items:center;
  text-decoration:none; 
  font-family:'Karla', sans-serif; 
  font-size:1.6rem; 
  line-height:90%;
  font-weight:700;
  padding:2.1rem 0 3.4rem 2.1rem;
  margin:9.8rem 0 0 0;
  border-top:0.5rem solid #000;
  list-style:none;}
.piede{text-decoration:none;
  color:#000;
  padding:0 3.4rem 0 0;}}