body{
  margin:0 0;
  background-color:#f1f1f0; 
  font-family: 'Karla', sans-serif;
  font-family: 'Newsreader', serif;
  scroll-behavior:smooth;}
img{max-width:100%; display:block;}
/*------------------------------------------------------------ N A V  B A R -------------------------------------------------------------*/
header{
  background-color:#f1f1f0;
  max-height:9.8rem;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  margin:0;
  padding:3.44rem 0 0.82rem 0}
nav{
  display:flex; 
  flex-wrap:wrap;  
  align-items: end;
  justify-content:space-between;
  margin:0 8.94rem 0 8.94rem;}  
ul li{
  display:inline-flex;
  font-family:'Karla', sans-serif;
  font-size:24px;
  font-weight:700;
  line-height:1;
  margin:0 3.44rem 0 0;
  list-style:none;}
ul>li>a{text-decoration:none; margin:0; color:#000;} 
ul{border-right:0.5rem solid #000;} 
.tradem{max-width:6.13rem;}
/*--------------------------------------------------------------- M A I N ---------------------------------------------------------------*/  
main{
  max-width:75rem;
  margin:0 auto;}
h1{
  max-width:24.57rem; 
  max-height:6.32rem;
  font-family:'Newsreader', serif;
  font-size:4rem;
  font-weight:400;
  line-height:90%;
  margin:6.13rem 0 0 0;}
.hero{padding:0 0 0 9rem;}
.hero_image{
  max-height:23.56rem;
  display:flex; 
  align-items:end; 
  justify-content:end; 
  display:flex;
  gap:3.44rem;}
.hero_image_uno{max-width:12.5%; padding:0 0 6.13rem 0;}
.hero_image_due{max-width:6%; padding:0 6.63rem 0 0;}
.hero_sottotitolo{
  max-width:65rem;
  max-height:5.82rem;
  font-family:'Newsreader', serif; 
  font-size:2.44rem;
  line-height:1.2; 
  font-weight:400;
  margin:0;}
.spaccazza{display:flex; justify-content:center; margin:0;}
hr{
  width:61.69rem; 
  height:0.5rem; 
  background-color:#000; 
  border-style:none;
  margin:6.13rem 0 14.57rem 0;} 
/*--------------------------------------------------------------- C O R P O -------------------------------------------------------------*/  
.corpo{max-width:45.57rem; margin:auto;}
.corpouno{
  margin:0 0 14.57rem 0; 
  font-family:'Newsreader', serif; 
  font-size:1.5rem; 
  line-height:1.2;
  font-weight:400;}
span{font-weight:700;} 
/*--------------------------------------------------------------- A I U T O -------------------------------------------------------------*/  
.aiuto{
  max-width:53.3rem;
  max-height:6.2rem;
  display:flex; 
  flex-wrap:wrap; 
  justify-content:start; 
  margin:auto;
  padding:0 0 14.57rem 0;}
.titolo_aiuto{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  line-height:90%;
  font-weight:700;
  margin:0;}
.corpo_aiuto{
  max-width:31.63rem;
  font-family:'Newsreader', serif;
  font-size:1.5rem;
  line-height:1.2;
  font-weight:400;
  margin:1.13rem 14.57rem 1.13rem 0;}
.bottoneaiuto{
  display:flex; 
  max-width:5.57rem;
  max-height:3.19rem;}
.bottone_aiuto{
  background-color:#f1f1f0;
  color:#000;
  text-decoration:none; 
  border:none;
  border-bottom:5px solid #000;
  margin:0;}
.bottone_aiuto:hover{background-color:#f32424;}
.continuauno{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  line-height:90%;
  text-decoration:none; 
  color:#000;}
/*--------------------------------------------------------------- C A R D S -------------------------------------------------------------*/  
.quindici{display:flex;}
.titolocards{
  font-family:'Newsreader', serif;
  font-size:2.44rem;
  font-weight:700;
  line-height:90%;
  margin:0 0 6.13rem 0;}
/*---------------------------------------------------------------------------------------------------------------------------------------*/
.specie h2, .specie p{
  max-width:15.88rem; 
  margin:0; 
  padding:0; }
.titolo_card{
  border:1px solid red;
  font-family:'Karla', sans-serif; 
  font-size:1.5rem; 
  font-weight:700; 
  line-height:1.2; 
  margin-top:12px; 
  margin-bottom:12px;}
p{
  border:1px solid red;
  font-family:'Newsreader', serif; 
  font-size:1.5rem; 
  font-weight:400; 
  line-height:1.2; 
  margin:0.75rem 0.5rem 0.75rem 0.5rem;}
.specie p{
  background-color:#d6ced4; 
}
.grid{
  display:grid; 
  grid-template-columns:repeat(3, 5fr); 
  gap:55px}
.grid .item img{
  height:180px; 
  max-width:85%; 
  object-fit:contain;}
.bottoneuno{
  max-width:30.0rem; 
  display:flex; 
  justify-content:end; 
  align-items:end;}
.bottonecard{
  font-family:'Karla', sans-serif;
  font-size:16px;
  font-weight:700;
  line-height:1.2;
  border:none;    
  text-decoration:none; 
  border-bottom:5px solid;
  width:130px;
  color:#000;
  background-color:#c4efd0;
  text-align:center;
  margin-top:12px;
  margin-bottom:8px;}
.scopricard{text-decoration:none; color:#000; font-weight:800;}
/*--------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/    
/*footer{background-color:#d45959; padding:5px;}
footer a{
  text-decoration:none; 
  color:#fff; 
  font-family:'Karla', 
  sans-serif; 
  font-size:16px; 
  line-height:90%;
font-weight:700;}*/
/*_______________________________________________________________________________________________________________________________________*/
@media (max-width:39.3rem) {
html{font-size:10px;}
header{
  background-color:#f1f1f0;
  max-height:10.7rem;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  margin:0;
  padding:0;}
.tradem{max-width:7.6rem;}  
nav{
  background-color:#f1f1f0;
  align-items:center;
  margin:2.1rem 2.7rem 0 2.7rem;
  padding:0 0 1.3rem 0;}
ul{display:flex; gap: 1.3rem; flex-direction:column; align-items:end;}  
ul li{
  max-height:7.3rem;
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  font-weight:700;
  line-height:1;
  list-style:none;
  margin:0 0.8rem 0 0;
  padding:0;}
ul>li>a{text-decoration:none; margin:0; color:#000; padding:0;} 
ul{border-right:0.5rem solid #000; margin:0; padding:0;} 
/*_______________________________________________________________________________________________________________________________________*/
.titolo{margin:0;}
.hero{
  display:flex; 
  align-items:center;
  justify-content:center;
  margin:0;
  padding:0;}
h1{
  max-width:23.6rem; 
  max-height:7rem; 
  font-family:'Newsreader', serif;
  font-size:4.2rem;
  font-weight:400;
  line-height:90%;
  margin:9.8rem 0 0 0;
  padding:0;}
.hero_image{
  max-width:36rem; 
  max-height:37.7rem; 
  display:flex; 
  align-items:center;
  justify-content:center;
  margin:auto;}
.hero_image_uno{max-width:20%; padding:1rem;}  
.hero_image_due{max-width:9.5%; padding:0;}
/*_______________________________________________________________________________________________________________________________________*/
.sottotitolo{display:flex; justify-content:center;}
.hero_sottotitolo{
  max-width:27.1rem;
  font-family:'Newsreader', serif; 
  font-size:1.6rem; 
  font-weight:400; 
  line-height:1.2;
  margin:0;}
/*_______________________________________________________________________________________________________________________________________*/
.spaccazza{display:flex; justify-content:center; margin:0;}
hr{
  width:23.3rem; 
  height:0.5rem; 
  background-color:#000; 
  border-style:none;
  margin:5.5rem 0 9.8rem;} 
/*_______________________________________________________________________________________________________________________________________*/
.corpo{display:flex; justify-content:center;}
.corpouno{
  background-color:#e6e4e5;
  max-width:26.5rem;
  font-family:'Newsreader', serif; 
  font-size:1.6rem; 
  line-height:1.2;
  font-weight:400;
  padding:1.2rem 0 1.2rem 0;
  margin:0;}
span{font-weight:700;}
/*_______________________________________________________________________________________________________________________________________*/
.aiuto{
  border:1px solid red;
  max-width:24.8rem;
  max-height:8rem;
  display:flex;   
  justify-content:start; 
  margin:auto;}
.titolo_aiuto{
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  line-height:1;
  font-weight:700;
  margin:9.8rem 0 0 0;}
.corpo_aiuto{
  border:1px solid red;
  background-color:#d1c4ce;
  font-family:'Newsreader', serif;
  font-size:1.6rem;
  line-height:1.2;
  font-weight:400;
  padding:0;
  margin:1.2rem 0 1.2rem 0;}
.bottoneaiuto{
  display:flex;
  justify-content:end;
  align-items:end;
  border:1px solid red;  
  max-width:7.5rem;
  max-height:2.75rem;}
.bottone_aiuto{
  background-color:#f4f426;
  color:#000;
  text-decoration:none;
  border-bottom:5px solid #000;
  margin:1.2rem 0 0.8rem 0;}
.bottone_aiuto:hover{background-color:#f32424;}
.continuauno{
  display:grid;
  justify-content:end;
  align-items:end;
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  line-height:90%;
  text-decoration:none; 
  color:#000000;}
/*_______________________________________________________________________________________________________________________________________*/
.quindici{display:flex; justify-content:center; text-align:center;}
.titolocards{
  max-width:25rem; 
  font-size:26px; 
  font-weight:700; 
  line-height:1;
  margin:14.4rem 0 5.5rem 0;}
/*_______________________________________________________________________________________________________________________________________*/
/*.grid{
  display:flex; 
  flex-direction:column; 
  align-content:center; 
  background-color:#fffffc;}
.item{margin:0 0 9.8rem 0; align-items:center;}  
.specie h2{
  font-family:'Karla', sans-serif; 
  font-weight:700; 
  font-size:16px; 
  max-width:17rem;
  margin:1rem 0 1rem 0;}
.specie p{
  font-family:'Newsreader', serif;
  font-size:16px;
  font-weight:400;
  max-width:25.4rem; 
  padding:1.2rem 0.8rem 1.2rem 0.8rem;}
img.erba{max-width:50rem; margin:0 auto; object-fit:cover;}*/
/*_______________________________________________________________________________________________________________________________________*/
/*.bottoneuno{display:flex; justify-content:end;}
.bottonecard{
  background-color: #fffffc;
  font-family:'Karla', sans-serif;
  font-weight:700;
  font-size:16px;  
  text-decoration:none; 
  border:none;
  border-bottom:5px solid #000;}
.bottonecard:hover{background-color:red;}
.scoprispecie{
  font-family:'Karla', sans-serif; 
  font-size:16px; 
  font-weight:700; 
  text-decoration:none;}
.scoprispecie:hover{background-color:red;}  
.scopricard:hover{background-color:red; color:white;}
.scopricard{text-decoration:none; color:#000; background-color: #fffffc;}*/
/*_______________________________________________________________________________________________________________________________________*/
/*.verbo{display:grid; margin:4.6rem 0 9.8rem 0;}
.titolo_verbo{
  font-family:'Karla', sans-serif; 
  font-size:16px; 
  font-weight:700; 
  line-height:1; 
  margin:0;}
.corpo_verbo{ 
  font-family:'Newsreader', 
  serif; font-size:16px; 
  font-weight:400; 
  line-height:1.2; 
  margin:1.2rem 0 1.2rem 0;}
.bottoneverbo{display:flex; justify-content:end;}
.bottone_verbo{
  background-color:#fffffc;
  max-width:6.9rem;    
  text-decoration:none; 
  border:none;
  border-bottom:5px solid #000;
  margin:1.2rem 0 0 0;
  padding:1.2rem 0 0.8rem 0;}
.bottone_verbo:hover{background-color:#f32424;}
.continuacall{
  font-family:'Karla', sans-serif; 
  font-weight:16px;
  font-weight:700;
  text-decoration:none;
  color:#000;
  border:none;}
.continuacall:hover{color:#fff;}*/
/*_______________________________________________________________________________________________________________________________________*/
/*footer{
  background-color:#f7f7f7; 
  height:6.5rem; 
  display:flex; 
  justify-content:start; 
  align-items:center;
  border-top:5px solid #000;}
footer a{
  text-decoration:none; 
  color:#000000; 
  font-family:'Karla', sans-serif; 
  font-size:16px; 
  line-height:90%;
  font-weight:700;
  padding:0 0 0 3.4rem;}
footer a:hover{text-decoration:underline; text-decoration-style:wavy;}*/}
