body{
  margin:0 0;
  background-color:#c4efd0; 
  font-family: 'Karla', sans-serif;
  font-family: 'Newsreader', serif;
  scroll-behavior:smooth;}
img{max-width: 100%; display:block;}
/*------------------------------------------------------------ N A V  B A R -------------------------------------------------------------*/
header{
  background-color:#c4efd0;
  max-width:100%; 
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;    
  margin:0;
  padding:21px 0 0 0;}
header a{
  text-decoration:none; 
  color:#000; 
  font-family:'Karla', sans-serif; 
  font-size:16px; 
  font-weight:700;}
.marchio{width:143px; height:99px; padding:0 0 6.13rem 14.56rem;}  
nav{display:flex; align-items:center;}
nav ul{
  margin:0;
  padding:0; 
  border-right:8px solid #000; 
  border-radius:0; 
  font-family:'Karla', sans-serif;
  font-weight:400;
  text-align:right;}
li{display:inline; margin:0 34px 0 34px;}
/*--------------------------------------------------------------- M A I N ---------------------------------------------------------------*/  
main{background-color:#c4efd0; padding:0 0 233px 0; /* nell'esempio c'è questo padding perché la testata ha position:fixed */
  max-width:1200px; 
  margin:auto;
  border:1px solid blue;}
h1{
  max-width:39.74rem; 
  max-height:10.21rem;
  margin:0; 
  font-family:'Newsreader', serif;
  font-size:6.47rem;
  font-weight:400;
  line-height:90px;}
.hero{padding:0 0 23.5rem 14.56rem;}
.hero_sottotitolo{font-family:'Newsreader', serif; font-size:39px; font-weight:400; line-height:1.2;}
/*--------------------------------------------------------------- C A R D S -------------------------------------------------------------*/  
.specie h2, .specie p{max-width:290px; margin:0; padding:0; font-size:18px;}
.titolo_card{font-family:'Karla', sans-serif; font-size:16px; font-weight:700; line-height:1.2; margin-top:12px; margin-bottom:12px;}
p{font-family:'Newsreader', serif; font-size:16px; font-weight:400; line-height:1.2; margin-top:12px; margin-bottom:12px;}
.specie p{background-color:#fff; padding:8px; margin:8px 0 0 0;}
.grid{display:grid; grid-template-columns:repeat(3, 5fr); gap:55px}
.grid .item img{height:180px; max-width:85%; object-fit:contain;}
.bottoneuno{max-width: 306px; display: flex; justify-content:end; align-items:end;}
.bottonecard{
  font-family:'Karla', sans-serif;
  font-size:16px;
  font-weight:700;
  line-height:1.2;
  border:none;    
  text-decoration:none; 
  border-bottom:5px solid;
  width:130px;
  color:#000;
  background-color:#c4efd0;
  text-align:center;
  margin-top:12px;
  margin-bottom:8px;}
.scopricard{text-decoration:none; color:#000; font-weight:800;}
/*--------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/    
/*footer{background-color:#000; padding:5px;}
footer a{text-decoration:none; color:#fff;}*/
/*_______________________________________________________________________________________________________________________________________*/
@media (max-width:500px) {
html{font-size:10px;}  
.marchio{
  background-color:#e9aae5; 
  max-width:12.30rem; 
  max-height:8.58rem; 
  display:flex; 
  justify-content:space-between; 
  padding:0;
  margin:0 0 0 2.7rem;}
header{ 
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:0 0 9.8rem 0;}
header a{
  font-family:'Karla', sans-serif;
  font-size:16px;
  font-weight:400;
  line-height:1;
  text-align:right;
  text-decoration:none;
  color:#000; 
  display:flex;
  flex-direction:column;
  margin:0 0.8rem 0 0;}
header a:hover{text-decoration:line-through;}
/*_______________________________________________________________________________________________________________________________________*/
nav ul{
  background-color:#e9aae5;
  display:grid;
  align-content:end;
  gap:1.3rem;
  max-height:7.9rem;                                        /*rivedere*/
  max-width:34.0rem;
  border-right:0.8rem solid #000;
  margin:0 2.5rem;}                                         /*rivedere*/
li{margin:0 0.8rem 0 0;}
/*_______________________________________________________________________________________________________________________________________*/
.hero{
  display:flex; justify-content:center;
  padding:0;
  margin:0 0;}
h1{
  background-color:#e9aae5;
  max-width:23.6rem; 
  max-height:7.0em; 
  font-family:'Newsreader', serif;
  font-size:4.2em;
  font-weight:400;
  line-height:1;}
.hero_image{
  border: 1px solid red;
  max-width:500px; 
  max-height:377px; 
  display:flex; 
  align-items:center; 
  justify-content:center;
  gap:2.1rem; 
  background-color:#c4efd0;}
.hero_image_uno{max-width:22%;}
.hero_image_due{max-width:14%;}  
/*_______________________________________________________________________________________________________________________________________*/
.sottotitolo{background-color:#e9aae5; display:flex; justify-content:center;}
.hero_sottotitolo{
  max-width:25rem;
  max-height:8.1rem;
  font-family:'Newsreader', 
  serif; font-size:16px; 
  font-weight:400; 
  line-height:1.2;
  margin-bottom:5.5rem;} 
/*_______________________________________________________________________________________________________________________________________*/
.lineettadue{
  max-width:24.5rem; 
  height:0.5rem; 
  background: #000; 
  margin:auto; 
  margin-bottom:8.9rem;}  
/*_______________________________________________________________________________________________________________________________________*/
.corpo{display:flex; flex-direction:column; align-items:center; justify-content:center;}
.corpouno{
  max-width:27rem;
  max-height:8.1rem;
  font-family:'Newsreader', 
  serif; font-size:16px; 
  font-weight:400; 
  line-height:1.2;
  margin-bottom:5.5rem}
.corpodue{
  max-width:26rem;
  max-height:8.1rem;
  font-family:'Newsreader', 
  serif; font-size:16px; 
  font-weight:400; 
  line-height:1.2;
  margin-bottom:5.5rem}
/*_______________________________________________________________________________________________________________________________________*/
.specie h2{max-width:250px; margin:0; padding:0; font-size:18px;}
.specie p{max-width:250px; background-color:#fff; padding:8px; margin:8px 0 0 0;}
.grid{display:flex; flex-direction:column; align-items:center;}
.grid .item img{max-width:265px; object-fit:contain;}
/*_______________________________________________________________________________________________________________________________________*/
.bottoneuno{max-width:300px; display:flex; justify-content:end;}
.bottonecard{
  border:1px solid #000;    
  text-decoration:none; 
  border-bottom:5px solid; 
  color:#000;}
.continuacard{text-decoration:none; color:#000; font-weight: 800;}
.item{border:1px solid rgb(0, 0, 0);}
/*_______________________________________________________________________________________________________________________________________*/
}