body{
  margin:0 0;
  background-color:#E6F5C6; 
  font-family: 'Karla', sans-serif;
  font-family: 'Newsreader', serif;
  scroll-behavior:smooth;}
  ::selection {background-color:#FF4613;}
img{max-width:100%; display:block;}
/*------------------------------------------------------------ N A V  B A R -------------------------------------------------------------*/
header{
  background-color:#E6F5C6;
  max-height:9.8rem;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  margin:0;
  padding:3.44rem 0 0.82rem 0}
nav{
  display:flex; 
  flex-wrap:wrap;  
  align-items: end;
  justify-content:space-between;
  margin:0 8.94rem 0 8.94rem;}  
ul li.su{
  display:inline-flex;
  font-family:'Karla', sans-serif;
  font-size:24px;
  font-weight:700;
  line-height:1;
  margin:0 3.44rem 0 0;
  list-style:none;}
ul>li.su>a{text-decoration:none; margin:0; color:#8A2BE2;} 
ul>li.su>a:hover{color:#FF4613;}
ul.navbar{border-right:0.5rem solid #8A2BE2;} 
.tradem{max-width:6.13rem;}
/*--------------------------------------------------------------- M A I N ---------------------------------------------------------------*/  
main{
  max-width:78.13rem; /*1250px*/
  margin:0 auto;}
h1{
  color:#8A2BE2;
  max-width:24.57rem; 
  max-height:6.32rem;
  font-family:'Newsreader', serif;
  font-size:4rem;
  font-weight:400;
  line-height:90%;
  margin:6.13rem 0 0 0;}
.hero{padding:0 0 0 9rem;}
.hero_image{
  max-height:23.56rem;
  display:flex; 
  align-items:end; 
  justify-content:end; 
  display:flex;
  gap:3.44rem;}
.hero_image_uno{max-width:11.5%; padding:0 0 6.13rem 0;}
.hero_image_due{max-width:6%; padding:0 6.63rem 0 0;}
.hero_sottotitolo{
  color:#8A2BE2;
  max-width:65rem;
  max-height:5.82rem;
  font-family:'Newsreader', serif; 
  font-size:2.44rem;
  line-height:1.2; 
  font-weight:400;
  margin:0;}
.spaccazza{display:flex; justify-content:center; margin:0;}
hr{
  width:61.69rem; 
  height:0.5rem; 
  background-color:#8A2BE2; 
  border-style:none;
  margin:6.13rem 0 14.57rem 0;} 
/*--------------------------------------------------------------- C O R P O -------------------------------------------------------------*/  
.corpo{max-width:45.57rem; margin:auto;}
.corpouno{
  color:#8A2BE2;
  margin:0 0 14.57rem 0; 
  font-family:'Newsreader', serif; 
  font-size:1.5rem; 
  line-height:1.2;
  font-weight:400;}
span{font-weight:700;} 
/*--------------------------------------------------------------- A I U T O -------------------------------------------------------------*/  
.aiuto{
  max-width:53.3rem;
  max-height:6.2rem;
  display:flex; 
  flex-wrap:wrap; 
  justify-content:start; 
  margin:auto;
  padding:0 0 14.57rem 0;}
.titolo_aiuto{
  color:#8A2BE2;
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  line-height:90%;
  font-weight:700;
  margin:0;}
.corpo_aiuto{
  color:#8A2BE2;
  max-width:31.63rem;
  font-family:'Newsreader', serif;
  font-size:1.5rem;
  line-height:1.2;
  font-weight:400;
  margin:1.13rem 14.57rem 1.13rem 0;}
.bottoneaiuto{
  display:flex; 
  max-width:5.57rem;
  max-height:3.19rem;}
.bottone_aiuto{
  background-color:#E6F5C6;
  color:#8A2BE2;
  text-decoration:none; 
  border:none;
  border-bottom:5px solid #8A2BE2;
  margin:0;}
.continuauno{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  line-height:90%;
  text-decoration:none; 
  color:#000;}
.bottone_aiuto:hover{border-bottom:5px solid #FF4613;} 
/*--------------------------------------------------------------- C A R D S -------------------------------------------------------------*/  
.quindici{display:flex; padding:0 0 9rem 0;}
.titolocards{
  color:#8A2BE2;
  font-family:'Newsreader', serif;
  font-size:2.44rem;
  font-weight:700;
  line-height:90%;
  padding:0;
  margin:0 0 6.13rem 0;}
/*---------------------------------------------------------------------------------------------------------------------------------------*/
.specie h2, .specie p{
  max-width:21.69rem;}
.titolo_card{
  color:#8A2BE2;
  font-family:'Karla', sans-serif; 
  font-size:1.5rem; 
  font-weight:700; 
  line-height:1.2; 
  margin:0;
  padding:1.13rem 0 1.13rem 0;}  
p{
  color:#8A2BE2;
  font-family:'Newsreader', serif; 
  font-size:1.5rem; 
  font-weight:400; 
  line-height:1.2; 
  margin:0;
  padding:1.13rem 0.5rem 1.13rem 0.5rem;}  
.grid{
  display:grid; 
  grid-template-columns:repeat(3, 5fr); 
  gap:6.13rem} /*98px*/
.erba{
  margin:0; 
  padding:0 0 1.32rem 0; 
  max-width:102%;}
.bottoneuno{
  display:flex; 
  justify-content:end; 
  align-items:end;}
.bottonecard{
  max-width:30rem;
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  line-height:1.2;
  border:none;    
  text-decoration:none; 
  border-bottom:0.32rem solid #8A2BE2;
  background-color:#E6F5C6;
  text-align:center;
  margin:1.13rem 0 1.13rem 0}
.bottonecard:hover{border-bottom:0.32rem solid #FF4613;}  
.scopricard{text-decoration:none; color:#8A2BE2; font-weight:800;}
/*---------------------------------------------------------- V E R B O -----------------------------------------------------------------*/    
.verbo{
  max-width:53.3rem;
  max-height:6.2rem;
  display:flex; 
  flex-wrap:wrap; 
  justify-content:start; 
  margin:auto;
  padding:14.57rem 0 14.57rem 0;}
.titolo_verbo{
  color:#8A2BE2;
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  line-height:90%;
  font-weight:700;
  margin:0;}
.corpo_verbo{
  color:#8A2BE2;
  max-width:31.63rem;
  font-family:'Newsreader', serif;
  font-size:1.5rem;
  line-height:1.2;
  font-weight:400;
  margin:1.13rem 14.57rem 1.13rem 0;}
.bottoneverbo{
  display:flex; 
  max-width:5.57rem;
  max-height:3.19rem;}
.bottone_verbo{
  background-color:#E6F5C6;
  color:#8A2BE2;
  text-decoration:none; 
  border:none;
  border-bottom:5px solid #8A2BE2;
  margin:0;}
.bottone_verbo:hover{border-bottom:5px solid #FF4613;}
.continuadue{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  line-height:90%;
  text-decoration:none; 
  color:#8A2BE2;}
/*--------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/    
.down{background-color:#E6F5C6;}
ul.footer{
  display:flex;
  justify-content:start;
  align-items:start;
  list-style:none;
  text-decoration:none; 
  font-family:'Karla', sans-serif; 
  font-size:1.5rem; 
  line-height:90%;
  font-weight:700;
  padding:1.32rem 0 2.13rem 2.13rem;
  margin:14.57rem 0 0 0;
  border-top:0.32rem solid #8A2BE2;}
.piede{
  text-decoration:none;
  color:#8A2BE2;
  padding:0 2.13rem 0 0;}
.piede:hover{color:#FF4613;}    
/*_______________________________________________________________________________________________________________________________________*/
@media (max-width:39.3rem) {
html{font-size:10px;}
header{
  background-color:#E6F5C6;
  max-height:10.7rem;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  margin:0;
  padding:0;}
.tradem{max-width:7.6rem;}  
nav{
  background-color:#E6F5C6;
  align-items:center;
  margin:2.1rem 2.7rem 0 2.7rem;
  padding:0 0 1.3rem 0;}
ul.navbar{display:flex; gap: 1.3rem; flex-direction:column; align-items:end;}  
ul li.su{
  max-height:7.3rem;
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  font-weight:700;
  line-height:1;
  list-style:none;
  margin:0 0.8rem 0 0;
  padding:0;}
ul>li.su>a{text-decoration:none; margin:0; color:#8A2BE2; padding:0;} 
ul.navbar{border-right:0.5rem solid #8A2BE2; margin:0; padding:0;} 
/*_______________________________________________________________________________________________________________________________________*/
.titolo{margin:0;}
.hero{
  display:flex; 
  align-items:center;
  justify-content:center;
  margin:0;
  padding:0;}
h1{
  max-width:23.6rem; 
  max-height:7rem; 
  font-family:'Newsreader', serif;
  font-size:4.2rem;
  font-weight:400;
  line-height:90%;
  margin:9.8rem 0 0 0;
  padding:0;}
.hero_image{
  max-width:36rem; 
  max-height:37.7rem; 
  display:flex; 
  align-items:center;
  justify-content:center;
  margin:auto;}
.hero_image_uno{max-width:20%; padding:1rem;}  
.hero_image_due{max-width:9.5%; padding:0;}
/*_______________________________________________________________________________________________________________________________________*/
.sottotitolo{display:flex; justify-content:center;}
.hero_sottotitolo{
  max-width:27.1rem;
  font-family:'Newsreader', serif; 
  font-size:1.6rem; 
  font-weight:400; 
  line-height:1.2;
  margin:0;}
/*_______________________________________________________________________________________________________________________________________*/
.spaccazza{display:flex; justify-content:center; margin:0;}
hr{
  width:23.3rem; 
  height:0.5rem; 
  background-color:#8A2BE2; 
  border-style:none;
  margin:5.5rem 0 9.8rem;} 
/*_______________________________________________________________________________________________________________________________________*/
.corpo{display:flex; justify-content:center;}
.corpouno{
  background-color:#E6F5C6;
  max-width:26.5rem;
  font-family:'Newsreader', serif; 
  font-size:1.6rem; 
  line-height:1.2;
  font-weight:400;
  padding:1.2rem 0 1.2rem 0;
  margin:0;}
span{font-weight:700;}
/*_______________________________________________________________________________________________________________________________________*/
.aiuto{
  max-width:24.6rem;
  max-height:7.8rem;
  display:flex;  
  margin:0 auto;
  padding:0;}
.titolo_aiuto{
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  line-height:1;
  font-weight:700;
  margin:9.8rem 0 0 0;}
.corpo_aiuto{
  background-color:#E6F5C6;
  font-family:'Newsreader', serif;
  font-size:1.6rem;
  line-height:1.2;
  font-weight:400;
  padding:0;
  margin:1.2rem 0 1.2rem 0;}
.bottoneaiuto{
  justify-content:end;
  align-items:end; 
  max-width:7.5rem;
  max-height:2.75rem;
  margin:0;
  padding:0 0 0 17.2rem;}
.bottone_aiuto{
  display:flex;
  align-items:end;
  justify-content:end;
  background-color:#E6F5C6;
  color:#8A2BE2;
  text-decoration:none;
  border-bottom:5px solid #8A2BE2;
  margin:1.2rem 0 0.8rem 0;
  padding:0;}
.continuauno{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  line-height:90%;
  text-decoration:none; 
  color:#8A2BE2;}
.bottone_aiuto:hover{border-bottom:5px solid #FF4613;}
/*_______________________________________________________________________________________________________________________________________*/
.quindici{
  font-family:'Newsreader', serif;
  font-size:2.6rem;
  line-height:1;
  font-weight:700;
  display:flex; 
  justify-content:center; 
  text-align:center;
  margin:14.4rem 0 5.5rem 0;
  padding:0;}
.titolocards{
  max-width:25rem; 
  font-size:2.6rem; 
  font-weight:700; 
  line-height:1;
  padding:0;
  margin:14.4rem 0 5.5rem 0;}
/*_______________________________________________________________________________________________________________________________________*/
.item{
  display:flex; 
  justify-content:center;
  align-items:center; 
  flex-direction:column;
  margin:0;
  padding:0;}
.specie h2, .specie p{
  max-width:25.5rem;}
.titolo_card{
  font-family:'Karla', sans-serif; 
  font-size:1.6rem; 
  font-weight:700; 
  line-height:1.2; 
  margin:0;
  padding:1rem 0 1rem 0;}
p{
  font-family:'Newsreader', serif; 
  font-size:1.6rem; 
  font-weight:400; 
  line-height:1.2; 
  margin:0;
  padding:1.2rem 0.8rem;}
.grid{
  display:flex; 
  flex-direction:column; 
  gap:9.8rem;}
.erba{
  margin:0; 
  padding:0 0 1.32rem 0; 
  max-width:75%;}
img.erbauno{max-width:6%;}  
.bottoneuno{
  display:flex; 
  justify-content:end; 
  align-items:end;}
.bottonecard{
  max-width:30rem;
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  line-height:1.2;
  border:none;    
  text-decoration:none; 
  border-bottom:0.32rem solid #8A2BE2;
  background-color:#E6F5C6;
  text-align:center;
  padding:1.2rem 0 0.8rem 0;
  margin:0;}
.scopricard{text-decoration:none; color:#8A2BE2; font-weight:700;}
.scopricard:hover{color:#FF4613;}  
/*_______________________________________________________________________________________________________________________________________*/
.verbo{
  max-width:24.6rem;
  max-height:7.8rem;
  display:flex;  
  margin:0 auto;
  padding:14.4rem 0 0 0;}
.titolo_verbo{
  font-family:'Karla', sans-serif;
  font-size:1.6rem;
  line-height:1;
  font-weight:700;
  margin:0;}
.corpo_verbo{
  background-color:#E6F5C6;
  font-family:'Newsreader', serif;
  font-size:1.6rem;
  line-height:1.2;
  font-weight:400;
  margin:0;
  padding:1.2rem 0 1.2rem 0;}
.bottoneverbo{
  justify-content:end;
  align-items:end; 
  max-width:7.5rem;
  max-height:2.75rem;
  margin:0;
  padding:0 0 0 17.2rem;}
.bottone_verbo{
  display:flex;
  align-items:end;
  justify-content:end;
  background-color:#E6F5C6;
  color:#8A2BE2;
  text-decoration:none;
  border-bottom:0.5rem solid #8A2BE2;
  margin:1.2rem 0 0.8rem 0;
  padding:0;}
.continuadue{
  font-family:'Karla', sans-serif;
  font-size:1.5rem;
  font-weight:700;
  line-height:90%;
  text-decoration:none; 
  color:#8A2BE2;}
.bottone_verbo:hover{border-bottom:5px solid #FF4613;}
/*_______________________________________________________________________________________________________________________________________*/
.down{background-color:#E6F5C6;}
ul.footer{
  display:flex; 
  justify-content:start; 
  align-items:center;
  text-decoration:none; 
  font-family:'Karla', sans-serif; 
  font-size:1.6rem; 
  line-height:90%;
  font-weight:700;
  padding:2.1rem 0 3.4rem 2.1rem;
  margin:23.3rem 0 0 0;
  border-top:0.5rem solid #8A2BE2;
  list-style:none;}
.piede{text-decoration:none;
      color:#8A2BE2;
      padding:0 3.4rem 0 0;}}
